# /
*/build
*/bin/*
*/.classpath
*/.settings
*/.project
*/.gradle
*/**/.gradle
*/**/.DS_Store
*/**/.gitignore
*/**/build
*/**/out
*/.idea
*/.idea/*

.idea
.idea/*
.classpath
.gradle/
.project
.settings/
.idea/
bin/
build/
gradle/

.idea
.idea/*
*.iml
*.log.gz
*.log.gz
*/\$\{*
.gradletasknamecache

gradlew
gradlew.bat
*.log
log/

